asgiref==3.8.1 ; python_version >= "3.13"
click==8.1.8 ; python_version >= "3.13"
colorama==0.4.6 ; python_version >= "3.13" and platform_system == "Windows"
dj-database-url==2.3.0 ; python_version >= "3.13"
django==5.2 ; python_version >= "3.13"
gunicorn==23.0.0 ; python_version >= "3.13"
h11==0.14.0 ; python_version >= "3.13"
markdown==3.8 ; python_version >= "3.13"
packaging==24.2 ; python_version >= "3.13"
psycopg2-binary==2.9.10 ; python_version >= "3.13"
python-decouple==3.8 ; python_version >= "3.13"
sqlparse==0.5.3 ; python_version >= "3.13"
typing-extensions==4.13.2 ; python_version >= "3.13"
tzdata==2025.2 ; python_version >= "3.13" and sys_platform == "win32"
uvicorn==0.34.0 ; python_version >= "3.13"
whitenoise==6.9.0 ; python_version >= "3.13"
